
.fillWidth {
    width: 100%;
    z-index: 0;
}

#phoneback{
  display: none;
}

.container-back{
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.overlay {
    position: absolute;
    top: 13%;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 500;
    height: 101%;
  }

.wrapper {
    width: 100%;
    border: 0;
    margin:0;
}

#name{
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1000;
  overflow: hidden;

}

body {
    margin-left: 0%;
    font-family: myFont1;
    background-color: black;

}

.static {
    min-width: 40%;
    width: 100%;
    z-index: 2000;
    height: 20%;
    position: fixed;

}

.header {
    background-color: black;
    height: 100px;
    width: 100%;
    margin-top: -1%;
    position: fixed;
    box-shadow: 0px 2px 2px red;
    z-index: 1000;
}

.header h3{
  font-size:2em;
  margin-top:-1%;
  margin-left:2%;
  color:white;
  font-family:myFont2;
}

#spins{
  -webkit-transform:rotate(8deg);
  margin-left:47%;
  margin-top:15%;
  width: 8%;
  height: 5%;}

  #name p{
    font-family:myFont;
    color:white;
    font-size:12em;
    margin-top:-8%;
    margin-left:38%;
    z-index: 1000;
  }

.line {
    height: 2%;
    width: 100%;
    background-color: red;
    box-shadow: 0px 2px 20px black;
}

.content1 {

    background-color: grey;
    width: 100%;
    height: 18em;
    margin-top: -5%;
    position: relative;
    box-shadow: 0px 5px 15px black;
    z-index: -2;
}

.content1 p{
  text-align:center;
  font-size:300%;
}
.content2 {
    width: 100%;
    height: 20em;
    position: relative;
    background-attachment: fixed;
    margin-bottom: -4%;
}



.content3 {
    background-color: grey;
    width: 100%;
    height: 25em;
    position: relative;
    box-shadow: 0px 5px 15px black;
    z-index: -2;
}

.content4 {
    width: 100%;
    height: 30em;
    position: relative;
    color: white;
    background-attachment: fixed;
}

.content4 img{
  height:7em;
  width:7em;
}

#credit{
  font-size:3em;
  margin-top:0%;
}

#credit_content{
  font-size:3em;
  margin-left:5%;
  text-align:center;
}

.meet {
    background-color: grey;
    width: 100%;
    height: 50em;
    position: relative;
    box-shadow: 0px 5px 15px black;
    z-index: -2;
}

.meet img{
  height:7em;
  width:7em;
}

.meet p{
  font-size:3em;
}
.copy {
    width: 100%;
    height: 2em;
    position: relative;
}

@font-face {
    font-family: myFont;
    src: url('../media/fonts/Fuller Brush NF Regular.otf');
}

#logo:hover {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
}

a:link {
    text-decoration: none;
}

#mem1 {
  position: absolute;
    margin-left: 2%;
}

#mem2 {
  position: absolute;

    margin-left: 25%;
    margin-bottom: 20%;
}

#mem3 {
  position: absolute;
  margin-left: 47%;
  margin-bottom: 20%;
}

#mem4 {

  position: absolute;
  margin-left: 70%;
  margin-bottom: 20%;
}

#aditya,#akshay,#anvith,#abhi{
  height:15em;
  width:12em;
  border-radius: 1em;
}

#mem1,#mem2,#mem3,#mem4 figcaption{
  font-size:1.25em;
}

#fea1 img{
  height:40%;
  width:40%;
  margin-top:5%;
}

#fea2 img{
  height:40%;
  width:40%;
  margin-top:5%;
}

#fea3 img{
  height:40%;
  width:40%;
  margin-top:5%;
}

#fea4 img{
  height:40%;
  width:40%;
  margin-top:5%;
}


#fea1,#fea2,#fea3,#fea4  p{
  font-size:1.25em;
  text-align:center;
}
#fea1 {
    top: 15%;
    left: 10%;
    width: 15%;
    height: 70%;
    background-color: Lightgrey;
    position: relative;
    border-radius: 1em;
}

#fea1:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
}

#fea2 {
    top: -55%;
    left: 30%;
    width: 15%;
    height: 70%;
    background-color: Lightgrey;
    position: relative;
    border-radius: 1em;
}

#fea2:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
}

#fea3 {
    top: -125%;
    left: 50%;
    width: 15%;
    height: 70%;
    background-color: Lightgrey;
    position: relative;
    border-radius: 1em;
}

#fea3:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
}

#fea4 {
    top: -195%;
    left: 70%;
    width: 15%;
    height: 70%;
    background-color: Lightgrey;
    position: relative;
    border-radius: 1em;
}

#fea4:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
}

#c3_i1{
  height:70%;
  width:30%;
  margin-top:1%;
  margin-left:2%;
  position:absolute;
  border-radius:1em;
}

#c3_i2{
  height:70%;
  width:30%;
  margin-top:2%;
  margin-left:24%;
  position:absolute;
  border-radius:1em;
}

#c3_i3{
  height:70%;
  width:30%;
  margin-top:8%;
  margin-left:11%;
  position:absolute;
  border-radius:1em;
}

.content3 p{
  font-size:3em;
  margin-left:60%;
  text-align:center;
}
footer img:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.2);
}
footer{
  color: white;
}
@font-face {
    font-family: myFont1;
    src: url('../media/fonts/Graviola-Regular.otf');
}

@font-face {
    font-family: myFont2;
    src: url('../media/fonts/Philosopher-BoldItalic.ttf');
}

.spinner {
    animation: spinner 2s infinite linear;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}


/****************Login********/

ul {
    margin-left: 60%;
    margin-top: -7%;
}

li {
    text-align: center;
    list-style: none;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.round {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;
    -webkit-transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
}

.round:hover {
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 3px;
    padding-top: 38px;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    z-index: 2;
    border-size: 10px;
    -webkit-transform: rotate(-360deg);
}

a.green {
    background-color: rgb(75,42,3);
    color: rgba(206, 234, 230, 1);
    border-color: rgba(186,10,31,.2);
}

a.green:hover {
    color: rgba(206, 234, 200, 1);
}

a.red {
    background-color: rgba(239, 57, 50, 1);
    color: rgba(133, 32, 28, 1);
    border-color: rgba(133, 32, 28, .2);
}

a.red:hover {
    color: rgba(239, 57, 50, 1);
}

a.blue {

    background-color: rgba(1, 151, 171, 1);
    color: rgba(0, 63, 71, 1);
    border-color: rgba(0, 63, 71, .2);
}

a.blue:hover {
    color: rgba(1, 151, 171, 1);
}

.round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
}

.round span:hover {
    opacity: .85;
    font-size: 26px;
    -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.blue span {
    background: rgba(0, 63, 71, .7);
}

.red span {
    background: rgba(133, 32, 28, .7);
}

.green span {
  background: rgba(133, 32, 28, .7);
}

.neww {
    width: 100%;
    height: 250px;
    font-family: sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgba(0, 0, 255, 0.4);
    color: black;
    padding: 14px 20px;
    margin: 3px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: rgba(0, 0, 255, 0.4);
}

.container {
    padding: 20px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 30%;
    height: auto;
}

.close {
    position: absolute;
    left: 62%;
    top: 18%;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
